section{
    border: 4.5px solid #0aa5d4c5;
    margin: 10px;
    border-radius: 5px;
    padding: 1rem;
}

article{
    position: absolute;
    width: 92%;
    left: 3%;
    height: 10%;
    background-image: url("../img/hospital2.jpg"); 
}





.Spider{
    position: absolute;
    height: 90px;
    bottom: 18%;
}

img.hola{
    position: absolute;
    left: 5%;
}



.segundo{
    position: absolute;
    bottom: 1%;
    position: absolute;
    height: 850%;
    right: 0.68%;
    width: 98%;
    left: 0%;
    top: 300px;
}


.botones6{
    position: relative;
    top: 10%;
    background: transparent;
    background:    transparent;
    border:        1px solid #556699;
    border-radius: 11px;
    box-shadow:    1px 0 #444444;
    color:         #000000;
    display: block;
    font:          italic bold 18px/1 "Open Sans", sans-serif;
    text-align:    center;
}