<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>iniciarsesion</servlet-name>
        <servlet-class>Servlet.iniciarsesion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrarusuarios</servlet-name>
        <servlet-class>Servlet.registrarusuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cerrarsesionservlet</servlet-name>
        <servlet-class>Servlet.cerrarsesionservlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrartest</servlet-name>
        <servlet-class>Servlet.registrartest</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarusuario</servlet-name>
        <servlet-class>Servlet.actualizarusuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>borrarusuario</servlet-name>
        <servlet-class>Servlet.borrarusuario</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>iniciarsesion</servlet-name>
        <url-pattern>/iniciar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrarusuarios</servlet-name>
        <url-pattern>/registrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cerrarsesionservlet</servlet-name>
        <url-pattern>/cerrarsesionservlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrartest</servlet-name>
        <url-pattern>/registrartest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarusuario</servlet-name>
        <url-pattern>/actualizar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>borrarusuario</servlet-name>
        <url-pattern>/borrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
